{% extends 'base.html' %}
{% load staticfiles %}

{% block style %}
{{ block.super }}
<link href="{% static 'css/joyride-2.0.3.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.lightbox-0.5.css' %}" rel="stylesheet"> 
{% endblock %}

{% block script %}
{{ block.super }}
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
<script src="{% static 'js/jquery.localScroll.min.js' %}"></script>
<script src="{% static 'js/jquery.joyride-2.0.3.js' %}"></script>
<script src="{% static 'js/raphael-min.js' %}"></script>
<script src="{% static 'js/g.raphael-min.js' %}"></script>
<script src="{% static 'js/g.pie-min.js' %}"></script>
<script src="{% static 'js/jquery.lightbox-0.5.pack.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% block content %}
<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
        <div class="item active">
          <img src="{% static 'img/slide-02.jpg' %}" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1>NASA makes a huge impact!</h1>
              <a class="btn btn-large btn-primary" href="#">Take a tour!</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="{% static 'img/slide-01.jpg' %}" alt="">
        </div>
        <div class="item">
          <img src="{% static 'img/slide-03.jpg' %}" alt="">
        </div>
      </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <h1 class='featurette-heading' >Employment</h1>
    <div class="featurette" id="employment">

    </div>
    <h1 class='featurette-heading' >Budget</h1>
    <div class="featurette" id="budget">

    </div>

    <h1 class='featurette-heading' >Bailout</h1>
    <div class="featurette" id="bailout">

    </div>


      <div id="technology" class="featurette">
        <h2 class="featurette-heading">Just Imagine! It's half a penny for NASA right now!! <span class="muted"></span></h2>
        <p class="lead">NASA creates jobs, creates technology transfer, helps manufacturing, transport and health industries. Cant we afford half a penny more to launch our economy?</p>
        <p class="lead">Apollo mission created lowest employment rate in history, inspired R&D and innovation, eventually returned $14 for every $1 spent. Isnt that awesome? </p>
      <p class="lead">For $25 billion spent on R&D, $181 billion came back, thats a massive return of 700%!!! </p>
      <hr /><p class="lead"> We have proof of economic impact, now imagine the impact on inspiration, innovation and the romance of curiosity!!</p>
      </div>

    <hr class="featurette-divider">

    <div id="hope" class="featurette">
    </div>
    <div id="responsibility">
        <h2> A comic by Carl Sagan </h2>
        <div class="row">
            <div class="span4">
                <a href="{% static 'img/comic-01.jpg' %}"><img src="{% static 'img/comic-01.jpg' %}" width="300" height="300" alt="" /></a>
            </div>
            <div class="span4">
                <a href="{% static 'img/comic-02.jpg' %}"><img src="{% static 'img/comic-02.jpg' %}" width="300" height="300" alt="" /></a>
            </div>
            <div class="span4">
                <a href="{% static 'img/comic-03.jpg' %}"><img src="{% static 'img/comic-03.jpg' %}" width="300" height="300" alt="" /></a>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <a href="{% static 'img/comic-04.jpg' %}"><img src="{% static 'img/comic-04.jpg' %}" width="300" height="300" alt="" /></a>
            </div>
            <div class="span4">
                <a href="{% static 'img/comic-05.jpg' %}"><img src="{% static 'img/comic-05.jpg' %}" width="300" height="300" alt="" /></a>
            </div>
            <div class="span4">
                <a href="{% static 'img/comic-06.jpg' %}"><img src="{% static 'img/comic-06.jpg' %}" width="300" height="300" alt="" /></a>
            </div>
        </div>
        <div class="row">
            <div class="span4">
                <a href="{% static 'img/comic-07.jpg' %}"><img src="{% static 'img/comic-07.jpg' %}" width="300" height="300" alt="" /></a>
            </div>
            <div class="span4">
                <a href="{% static 'img/comic-08.jpg' %}"><img src="{% static 'img/comic-08.jpg' %}" width="300" height="300" alt="" /></a>
            </div>
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->


    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 The Spacecons &middot; <a href="http://www.github.com/ngzhian/the-spacecons">Source</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->

<!-- Each tip is set within this <ol>.
    This creates the order the tips are displayed -->
<ol id="joyRideTipContent">
    <li data-id="employment" data-text="Next">
    <p>This is the employment.</p>
    </li>
    <li data-id="budget" data-text="Close">
    <p>This is the Budget.</p>
    </li>
    <li data-id="bailout" data-text="Close">
    <p>This is the Bailout.</p>
    </li>
    <li data-id="technology" data-text="Next">
    <p>This is the technology.</p>
    </li>
    <li data-id="hope" data-text="Close">
    <p>This is the hope.</p>
    </li>
</ol>
{% endblock %}


